In [1]:
import pandas as pd

In [20]:
df_temp = pd.DataFrame({"index":[0],
                        "model": ["model1"],
                        "batch_size": [32],
                        "learning_rate": [0.01]})

In [4]:
df_temp.shape

(1, 4)

In [5]:
df_temp

   index   model  batch_size  learning_rate
0      0  model1          32           0.01

In [9]:
df_temp2 = pd.DataFrame({"index":[0],
                        "model": ["model1"],
                        "batch_size": [64],
                        "learning_rate": [0.01]})

df_temp3 = pd.DataFrame({"index":[0],
                        "model": ["model1"],
                        "batch_size": [32],
                        "learning_rate": [0.01]})
df_temp4 = pd.DataFrame({"index":[0,1],
                        "model": ["model1", "model2"],
                        "batch_size": [32, 64],
                        "learning_rate": [0.01, 0.001]})

In [46]:
return_value = df_temp.compare(df_temp3)

In [51]:
return_value.shape

(0, 0)

In [48]:
if return_value == None:
    print("none")

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [22]:
df_temp

   index   model  batch_size  learning_rate
0      0  model1          32           0.01

In [38]:
df_temp4.iloc[[0], 1:]

    model  batch_size  learning_rate
0  model1          32           0.01

In [41]:
df_temp4.iloc[[1], 1:].reset_index(drop=True)

    model  batch_size  learning_rate
0  model2          64          0.001

In [42]:
df_temp.compare(df_temp4.iloc[[1], :].reset_index(drop=True))

  index         model         batch_size       learning_rate
   self other    self   other       self other          self  other
0     0     1  model1  model2         32    64          0.01  0.001

In [53]:
df_temp

   index   model  batch_size  learning_rate
0      0  model1          32           0.01

In [54]:
df_temp4

   index   model  batch_size  learning_rate
0      0  model1          32          0.010
1      1  model2          64          0.001

In [55]:
df_temp.iloc[:, 1:]

    model  batch_size  learning_rate
0  model1          32           0.01

In [57]:
df_temp4.iloc[[1], 1:].reset_index(drop=True)

    model  batch_size  learning_rate
0  model2          64          0.001

In [61]:
# iterate through rows in pandas dataframe
for i in range(df_temp4.shape[0]):
    print(i)
    return_compare = df_temp.iloc[:, 1:].compare(df_temp4.iloc[[i], 1:].reset_index(drop=True))
    # if return_compare.shape[0] == 0:
    #     print("empty")
    print(return_compare)

0
Empty DataFrame
Columns: []
Index: []
1
    model         batch_size       learning_rate
     self   other       self other          self  other
0  model1  model2         32    64          0.01  0.001